<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta name="description" content="Free Responsive Bootstrap HTML5 pruduct Landing Page Template">
	<meta name="keywords" content="Egret, Free Bootstrap template, Landing page, Free responsive template, Free Template, App, Mobile">
	<meta name="author" content="Mahmudul Hasan Rafi">
	<title>Crypto_App : The_Anil</title>

	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'crypto_app/css/bootstrap.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/font-awesome.min.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/linea-icon.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/fancy-buttons.css'%}" type="text/css"/>

	<!--=== Google Fonts ===-->
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!--=== Other CSS files ===-->
	<link rel="stylesheet" href="{% static 'crypto_app/css/animate.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/jquery.vegas.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/baraja.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/jquery.bxslider.css'%}" type="text/css"/>

	<!--=== Main Stylesheets ===-->
	<link rel="stylesheet" href="{% static 'crypto_app/css/style.css'%}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'crypto_app/css/responsive.css'%}" type="text/css"/>

	<!--=== Color Scheme Stylesheets ===-->

	<link rel="stylesheet" href="{% static 'crypto_app/css/schemes/red.css'%}" type="text/css" disabled />
	<link rel="stylesheet" href="{% static 'crypto_app/css/schemes/orange.css'%}" type="text/css" disabled />
	<link rel="stylesheet" id="scheme-source" href="{% static 'crypto_app/css/schemes/gray.css'%}" type="text/css" />


	<link rel="stylesheet" href="{% static 'crypto_app/css/color-switcher.css'%}" type="text/css" />

	<!--=== Internet explorer 8 fix ===-->
	<!-- [if lt IE 9]>
		<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif] -->


</head>
<body>
