{% include 'crypto_app/header.html' %}
{% load static %}
	<!--=== Header section Starts ===-->
	<div id="header" class="header-section">
		<!-- sticky-bar Starts-->
		<div class="sticky-bar-wrap">
			<div class="sticky-section">
				<div id="topbar-hold" class="nav-hold container">
					<nav class="navbar" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</button>
							<!--=== Site Name ===-->
							<a class="site-name navbar-brand" href="/crypto_app/"><span>C</span>rypto <span>A</span>pp</a>
						</div>

						<!-- Main Navigation menu Starts -->
						<div class="collapse navbar-collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/crypto_app/">Back</a></li>
							</ul>
						</div>
						<!-- Main Navigation menu ends-->
					</nav>
				</div>
			</div>
		</div>
		<!-- sticky-bar Ends-->
    </div>
<!--=== Header section Ends ===-->


	<!--=== Step-1 section Starts ===-->
	<section id="step-1" class="section-step step-wrap">
		<div class="container step animated" data-animation="bounceInLeft" data-animation-delay="700">
			<div class="row">
				<!-- Step Description Starts -->
				<div class="col-md-8 step-desc">
					<div class="col-md-2 center">
						<div class="step-no">
							<span class="no-inner">💰</span>
						</div>
					</div>

					<div class="col-md-10 step-details">
							<h3 class="step-title color-scheme">IOTA</h3>
							<p class="step-description">Third-generation cryptocurrency offering free, real-time microtransactions between Internet of Things (IoT) devices. Allows future technology to transact without humans.</p>
                        <h5 class="step-title color-scheme">Unique Features : </h5>
                        <ul class="sub-steps"> <!-- Sub steps here -->
								<li>
									<span class="icon fa fa-pencil color-scheme"></span>
									<span class="sub-text">Tangle validation</span>
								</li>
                                <li>
									<span class="icon fa fa-pencil color-scheme"></span>
									<span class="sub-text">Centralised</span>
								</li>
							</ul>
					</div> <!-- End step-details -->
				</div>
				<!-- Step Description Ends -->
				<div class="col-md-4 step-img">
					<img src="{% static 'crypto_app/images/iota.png' %}" alt="" /> <!-- Step Photo Here -->
				</div>
			</div>
		</div>
	</section>
	<!--=== Step-1 section Ends ===-->

<!--=== Testimonials section Starts ===-->
	<section id="section-testimonials" class="testimonials-wrap">
		<div class="section-overlay"></div>
		<div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial-slider">
						<!-- Single Testimonial Starts -->


						<!-- Single Testimonial Starts -->
						<div class="testimonial">
							<p class="comment">
								IOTA has seen many of the issues Bitcoin and Ethereum have with the POW (proof-of-work) and POI (proof-of-importance) models and looks to improve them with their revolutionary transaction validation network simply called “tangle”.
                            </p>
						</div>
						<!-- Single Testimonial Ends -->

						<!-- Single Testimonial Starts -->
						<div class="testimonial">
							<p class="comment">
								When issuing a transaction in IOTA, you validate 2 previous transactions. This means you no longer outsource validation to miners which requires wasteful amounts of computing power and usually a large stake of coins. These required resources are, in effect, centralizing the currencies which many believe were created to be decentralized in the first place.
                            </p>
						</div>
						<!-- Single Testimonial Ends -->
                        <div class="testimonial">
							<p class="comment">
								 With IOTA, the more active a ledger is, the more validation there is. In other words, the more people who use it, the faster it gets. You don’t have to subsidize miners, so there are no fees on transactions. That’s right: zero.
                            </p>
						</div>
						<!-- Single Testimonial Ends -->
					</div>
					<div id="bx-pager" class="client-photos">
						<a data-slide-index="0" href="" class="photo-hold">
							<h3>1</h3>
						</a>
						<a data-slide-index="1" href="" class="photo-hold">
							<h3>2</h3>
						</a>
						<a data-slide-index="2" href="" class="photo-hold">
							<h3>3</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Testimonials section Ends ===-->

{% include 'crypto_app/footer.html' %}