{% include 'crypto_app/header.html' %}
{% load static %}
	<!--=== Header section Starts ===-->
	<div id="header" class="header-section">
		<!-- sticky-bar Starts-->
		<div class="sticky-bar-wrap">
			<div class="sticky-section">
				<div id="topbar-hold" class="nav-hold container">
					<nav class="navbar" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</button>
							<!--=== Site Name ===-->
							<a class="site-name navbar-brand" href="/crypto_app/"><span>C</span>rypto <span>A</span>pp</a>
						</div>

						<!-- Main Navigation menu Starts -->
						<div class="collapse navbar-collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/crypto_app/">Back</a></li>
							</ul>
						</div>
						<!-- Main Navigation menu ends-->
					</nav>
				</div>
			</div>
		</div>
		<!-- sticky-bar Ends-->
    </div>
<!--=== Header section Ends ===-->


	<!--=== Step-1 section Starts ===-->
	<section id="step-1" class="section-step step-wrap">
		<div class="container step animated" data-animation="bounceInLeft" data-animation-delay="700">
			<div class="row">
				<!-- Step Description Starts -->
				<div class="col-md-8 step-desc">
					<div class="col-md-2 center">
						<div class="step-no">
							<span class="no-inner">💰</span>
						</div>
					</div>

					<div class="col-md-10 step-details">
							<h3 class="step-title color-scheme">Steem</h3>
							<p class="step-description">Rewards platform that lets content creators and curators monetize their work. Can also be used by publishers to create incentives to encourage certain user behavior.</p>
                        <h5 class="step-title color-scheme">Unique Features : </h5>
                        <ul class="sub-steps"> <!-- Sub steps here -->
								<li>
									<span class="icon fa fa-pencil color-scheme"></span>
									<span class="sub-text">Reward for creating high quality social media content</span>
								</li>
                                <li>
									<span class="icon fa fa-pencil color-scheme"></span>
									<span class="sub-text">Decentralised</span>
								</li>
							</ul>
					</div> <!-- End step-details -->
				</div>
				<!-- Step Description Ends -->
				<div class="col-md-4 step-img">
					<img src="{% static 'crypto_app/images/steem.png' %}" alt="" /> <!-- Step Photo Here -->
				</div>
			</div>
		</div>
	</section>
	<!--=== Step-1 section Ends ===-->

<!--=== Testimonials section Starts ===-->
	<section id="section-testimonials" class="testimonials-wrap">
		<div class="section-overlay"></div>
		<div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial-slider">
						<!-- Single Testimonial Starts -->


						<!-- Single Testimonial Starts -->
						<div class="testimonial">
							<p class="comment">
								Steem is the first blockchain to set out to disrupt the world of social media. Most social media platforms today do not reward users for providing high quality content to their audience (one notable exception is YouTube, where content creators can earn a small percentage of the advertising revenue).
                            </p>
						</div>
						<!-- Single Testimonial Ends -->

						<!-- Single Testimonial Starts -->
						<div class="testimonial">
							<p class="comment">
								Steem is completely decentralized; this means there is no governing body that censors or stores user information to later sell to companies. This gives Steem some clear advantages over social media giants such as Facebook.
                            </p>
						</div>
						<!-- Single Testimonial Ends -->
                        <div class="testimonial">
							<p class="comment">
								 To have a successful cryptocurrency it needs three things: professionalism, quantitative flow, and trust. Litecoin has it all.
                            </p>
						</div>
						<!-- Single Testimonial Ends -->
					</div>
					<div id="bx-pager" class="client-photos">
						<a data-slide-index="0" href="" class="photo-hold">
							<h3>1</h3>
						</a>
						<a data-slide-index="1" href="" class="photo-hold">
							<h3>2</h3>
						</a>
						<a data-slide-index="2" href="" class="photo-hold">
							<h3>3</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Testimonials section Ends ===-->

{% include 'crypto_app/footer.html' %}